<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="colombo" type="Colombo.Configuration.ColomboConfigurationSection, Colombo"/>
  </configSections>

  <colombo>
    <endpoints>
      <endpoint assembly="Colombo.Tests" address="http://localhost/Colombo.svc" />
      <endpoint assembly="Something" type="wcf" address="Something" />
      <endpoint assembly="AnotherThing" type="another" address="AnotherThing" />
    </endpoints>
  </colombo>
  
</configuration>