<!DOCTYPE html>
<html>
<head>
	<title>Quadro - About</title>

	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <meta name="robots" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <meta name="version" content="1.0" />
    <meta name="copyright" content="" />
    <link rel="shortcut icon" href="favicon.ico" />

	<!--
		This file is part of a site template for sale at ThemeForest.net.
		See: http://themeforest.net/user/simonbouchard/portfolio
		Copyright © 2009 Simon Bouchard <info@simonbouchard.com>
	-->

	<!-- Cascading Style Sheets -->
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/typography.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/lightbox/css/jquery.lightbox-0.5.css" />
			
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/ie.css" />
	<![endif]--> 	

    <!-- JavaScripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="assets/lightbox/js/jquery.lightbox-0.5.js"></script>
    <script type="text/javascript" src="assets/js/jquery.innerfade.js"></script>
	<script type="text/javascript" src="assets/js/jquery.functions.js"></script>
	
	<!--[if IE 6]>
	<script src="assets/js/pngfix.js"></script>
	<![endif]--> 	

</head>
<body class="subpage">

<!-- container -->
<div class="container">

	<!-- wrapper -->
	<div class="wrapper">
		
		<!-- header -->
		<div class="header">
			
			<div class="top-nav">
				
			<h1>Quadro Beta</h1>
		
			<ul class="nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html"  class="selected">About</a></li>
				<li><a href="support.html">Support</a></li>
				<li><a href="login.html">Login</a></li>				
			</ul>
			
			</div>
						
			<div class="page-title">
				
				<h2>About Quadro</h2>

				<ul class="nav">
					<li><a href="about.html" class="selected">Overview</a></li>
					<li><a href="pricing.html">Pricing</a></li>
				</ul>
								
			</div>
				
		</div>
		<!-- // header -->
		
		<!-- sub-header -->		
		<div class="sub-header">
		
			<!-- content -->
			<div class="content-top"></div>
			<div class="content clearfix">
				

				<h4>Overview</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis ligula. Duis non ante quis ligula vestibulum scelerisque id quis est. Cras aliquam justo eget elit aliquet quis iaculis felis venenatis. Sed rutrum sodales erat at rhoncus. Morbi mattis quam vitae diam porta sodales. Maecenas ut nulla mi. Aliquam erat volutpat. Etiam faucibus nulla ac diam ullamcorper aliquam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Etiam eget mi enim, non ultricies nisi. Curabitur pharetra, ante ac suscipit suscipit, erat nisl faucibus justo, sed ornare sem erat interdum turpis. Etiam blandit lacus quis elit convallis commodo sit amet in turpis. Nunc odio tortor, egestas at congue sed, volutpat venenatis erat.</p>
				
				<div class="colleft">

					<h5>How it works</h5>
					<p>Vivamus a arcu at libero ultrices gravida. Donec venenatis elementum vehicula. Donec tincidunt nisi vitae mi dignissim ultricies. Morbi consectetur lobortis magna, id elementum arcu placerat sit amet. Nam iaculis tortor id lacus lacinia ut laoreet tortor rutrum. Integer a dolor in velit molestie rhoncus at sed metus. Morbi ac dolor a nunc convallis aliquam non vitae erat. Praesent commodo malesuada augue, eget dictum nisl venenatis nec. Ut blandit laoreet tortor, sit amet fermentum mi bibendum et. Pellentesque pulvinar mi lectus, non pharetra arcu. Aliquam erat volutpat. Nunc vitae sem quis nunc mattis commodo vitae in lacus. Vestibulum nec mauris leo, sit amet dictum augue. Mauris ultricies tempus libero, ut varius augue mattis quis. Nullam blandit bibendum magna id semper. Nunc a nunc sit amet lectus sagittis ullamcorper. Suspendisse ut enim vitae magna sollicitudin vehicula. </p>

					<h5>Features</h5>

					<ul>
						<li>Suspendisse a ipsum massa, a consequat eros</li>
						<li>In eros nunc, tempor sit amet dapibus non, luctus sit amet ipsum</li>
						<li>liquam nec sem sapien curabitur vestibulum</li>
						<li>Curabitur auctor pretium est vitae volutpat</li>
						<li>Proin lacinia mauris ac quam tempor vel</li>
						<li>Vestibulum ut ante neque.</li>
						<li>In eros nunc, tempor sit amet dapibus non, luctus sit amet ipsum</li>
						<li>liquam nec sem sapien curabitur vestibulum</li>
						<li>Curabitur auctor pretium est vitae volutpat</li>
						<li>Suspendisse a ipsum massa, a consequat eros</li>
					</ul>
				
				</div>
				
				<div class="colright">
				
					<h5>Screenshots</h5>

						<div class="boxgrid captionfull">
							<a href="images/apps_screenshot.png" title="Categories"><img src="images/apps_screenshot.png" alt=""/></a>
							<div class="cover boxcaption">
								<h3>Categories</h3>
							</div>			
						</div>

						<div class="boxgrid captionfull">
							<a href="images/apps_screenshot2.png" title="My Account"><img src="images/apps_screenshot2.png" alt=""/></a>
							<div class="cover boxcaption">
								<h3>My Account</h3>
							</div>			
						</div>

						<div class="boxgrid captionfull last">
							<a href="images/apps_screenshot3.png" title="List View"><img src="images/apps_screenshot3.png"/></a>
							<div class="cover boxcaption">
								<h3>List View</h3>
							</div>			
						</div>

						<div class="boxgrid captionfull">
							<a href="images/apps_screenshot4.png" title="Action"><img src="images/apps_screenshot4.png"/></a>
							<div class="cover boxcaption">
								<h3>Action</h3>
							</div>			
						</div>

						<div class="boxgrid captionfull">
							<a href="images/apps_screenshot5.png" title="Logs"><img src="images/apps_screenshot5.png"/></a>
							<div class="cover boxcaption">
								<h3>Logs</h3>
							</div>			
						</div>

						<div class="boxgrid captionfull last">
							<a href="images/apps_screenshot6.png" title="Profile"><img src="images/apps_screenshot6.png"/></a>
							<div class="cover boxcaption">
								<h3>Profile</h3>
							</div>			
						</div>

						<div class="boxgrid captionfull">
							<a href="images/apps_screenshot.png" title="Categories"><img src="images/apps_screenshot.png" alt=""/></a>
							<div class="cover boxcaption">
								<h3>Categories</h3>
							</div>			
						</div>

						<div class="boxgrid captionfull">
							<a href="images/apps_screenshot2.png" title="My Account"><img src="images/apps_screenshot2.png" alt=""/></a>
							<div class="cover boxcaption">
								<h3>My Account</h3>
							</div>			
						</div>

						<div class="boxgrid captionfull last">
							<a href="images/apps_screenshot3.png" title="List View"><img src="images/apps_screenshot3.png"/></a>
							<div class="cover boxcaption">
								<h3>List View</h3>
							</div>			
						</div>
				
				</div>
								
								
			</div>
			<div class="content-btm"></div>
			<!-- // content -->

		
		</div>
		<!-- // sub-header -->
						
		<!-- footer -->
		<div class="footer">			
			
			<div class="copy">
				<p>Copyright &copy; 2009 Your Company. All rights reserved. &mdash; Designed by <a href="http://www.simonbouchard.com" title="Simon Bouchard">Simon Bouchard</a></p>		
			</div>
			<div class="twitter">
				<a href="#"><img src="images/bg_twitter.png" alt="Follow us on Twitter"></a>
			</div>

		</div>
		<!-- // footer -->
	
	</div>
	<!-- // wrapper -->
	
</div>
<!-- // container -->

</body>
</html>