<!DOCTYPE html>
<html>
<head>
	<title>Quadro - Homepage</title>

	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <meta name="robots" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <meta name="version" content="1.0" />
    <meta name="copyright" content="" />
    <link rel="shortcut icon" href="favicon.ico" />

	<!--
		This file is part of a site template for sale at ThemeForest.net.
		See: http://themeforest.net/user/simonbouchard/portfolio
		Copyright © 2009 Simon Bouchard <info@simonbouchard.com>
	-->

	<!-- Cascading Style Sheets -->
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/typography.css" />	
	
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/ie.css" />
	<![endif]--> 	

    <!-- JavaScripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="assets/lightbox/js/jquery.lightbox-0.5.js"></script>
    <script type="text/javascript" src="assets/js/jquery.innerfade.js"></script>
	<script type="text/javascript" src="assets/js/jquery.functions.js"></script>
	
	<!--[if IE 6]>
	<script src="assets/js/pngfix.js"></script>
	<![endif]--> 	

</head>
<body>

<!-- container -->
<div class="container">

	<!-- wrapper -->
	<div class="wrapper">
		
		<!-- header -->
		<div class="header">
			
			<div class="top-nav">
				
			<h1>Quadro Beta</h1>
		
			<ul class="nav">
				<li><a href="index.html" class="selected">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Login</a></li>				
			</ul>
			
			</div>
						
			<div class="showcase">
				
				<div class="laptop"></div>
				
				<!-- slider container -->
				<div id="slider">

					<!-- slide 1 -->
					<div class="slider_item">
					
						<h2>Quadro Showcase</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac diam et dolor pretium semper. Ut neque purus, posuere vel lobortis in, iaculis nec arcu. Quisque vitae urna est. Aenean mauris quam, malesuada eget euismod et, interdum vel massa. Donec velit arcu, feugiat a ultricies ut, elementum nec ante. Vestibulum in tristique sem.</p>
										
					</div>
					<!-- // slide 1 -->

					<!-- slide 2 -->
					<div class="slider_item">

						<h2>Powerful &amp; fast</h2>
						<p>Aliquam pulvinar orci sed metus dignissim quis malesuada massa imperdiet. Fusce imperdiet enim sit amet tellus molestie tempus. Cras ultrices, nunc in tempor pharetra, lorem urna aliquam dolor, eu ullamcorper neque turpis vel nisl. Mauris eget auctor libero. Suspendisse ut ipsum orci.</p>
										
					</div>
					<!-- // slide 2 -->

					<!-- slide 3 -->
					<div class="slider_item">

						<h2>Signup for free!</h2>
						<p>Suspendisse bibendum suscipit vestibulum. Vivamus aliquet consequat risus vitae aliquet. Proin et nibh diam, et fringilla arcu. In faucibus, sapien sed imperdiet ultrices.</p>

						<a href="#" class="btn">FREE SIGNUP</a> <a href="#" class="btn">FEATURE LIST</a>			

					</div>
					<!-- // slide 3 -->
				
				</div>
				<!-- // slider container -->
			
			</div>
				
		</div>
		<!-- // header -->
		
		<!-- sub-header -->		
		<div class="sub-header">
		
			<!-- content -->
			<div class="content-top"></div>
			<div class="content clearfix">
				
				<div class="col1">
				
					<h3 class="topfeatures">Top Features<span><a href="#">See all features...</a></span></h3>

					<div class="block">
						<h4>Feature one</h4>
						<p>Sed gravida, erat in malesuada scelerisque, quam lacus suscipit nunc, ut sollicitudin metus est eget risus. Fusce porttitor nulla in massa posuere cursus eu id erat. Nam nec metus nunc, vel dapibus justo.</p>
					</div>

					<div class="block">
						<h4>Feature two</h4>
						<p>Sed gravida, erat in malesuada scelerisque, quam lacus suscipit nunc, ut sollicitudin metus est eget risus. Fusce porttitor nulla in massa posuere cursus eu id erat. Nam nec metus nunc, vel dapibus justo.</p>
					</div>

					<div class="block">
						<h4>Feature three</h4>
						<p>Sed gravida, erat in malesuada scelerisque, quam lacus suscipit nunc, ut sollicitudin metus est eget risus. Fusce porttitor nulla in massa posuere cursus eu id erat. Nam nec metus nunc, vel dapibus justo.</p>
					</div>
					<div class="block">
						<h4>Feature four</h4>
						<p>Sed gravida, erat in malesuada scelerisque, quam lacus suscipit nunc, ut sollicitudin metus est eget risus. Fusce porttitor nulla in massa posuere cursus eu id erat. Nam nec metus nunc, vel dapibus justo.</p>
					</div>

									
				</div>
				<div class="col2">
				
					<h3 class="testimonials">Testimonials</h3>
					
						<div id="slider2">

							<div class="testimonial">
								<h4>Simon Bouchard</h4>
								<a href="http://www.simonbouchard.com" title="Simon Bouchard">http://www.simonbouchard.com</a>
								<p>Sed gravida, erat in malesuada scelerisque, quam lacus suscipit nunc, ut sollicitudin metus est eget risus. Fusce porttitor nulla in massa posuere cursus eu id erat. Nam nec metus nunc, vel dapibus justo. Suspendisse fermentum felis nec tellus eleifend molestie. Pellentesque eget est vel ipsum luctus iaculis quis sagittis dolor.</p>				
							</div>

							<div class="testimonial">
								<h4>Dany Duchaine, DDStudios</h4>
								<a href="http://www.ddwebstudios.com" title="DDStudios">http://www.ddwebstudios.com</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus, felis in euismod elementum, lacus ipsum blandit lacus, non commodo nibh urna id arcu. Suspendisse imperdiet porta magna ac sollicitudin. Curabitur imperdiet elementum felis. Pellentesque eget est vel ipsum luctus iaculis quis sagittis dolor.</p>				
							</div>
					
						</div>

				</div>
				
			</div>
			<div class="content-btm"></div>
			<!-- // content -->

		
		</div>
		<!-- // sub-header -->
						
		<!-- footer -->
		<div class="footer">			
			
			<div class="copy">
				<p>Copyright &copy; 2009 Your Company. All rights reserved. &mdash; Designed by <a href="http://www.simonbouchard.com" title="Simon Bouchard">Simon Bouchard</a></p>		
			</div>
			<div class="twitter">
				<a href="#"><img src="images/bg_twitter.png" alt="Follow us on Twitter"></a>
			</div>

		</div>
		<!-- // footer -->
	
	</div>
	<!-- // wrapper -->
	
</div>
<!-- // container -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-463605-15");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>