<!DOCTYPE html>
<html>
<head>
	<title>Quadro - Pricing</title>

	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <meta name="robots" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <meta name="version" content="1.0" />
    <meta name="copyright" content="" />
    <link rel="shortcut icon" href="favicon.ico" />

	<!--
		This file is part of a site template for sale at ThemeForest.net.
		See: http://themeforest.net/user/simonbouchard/portfolio
		Copyright © 2009 Simon Bouchard <info@simonbouchard.com>
	-->

	<!-- Cascading Style Sheets -->
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/typography.css" />
	
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/ie.css" />
	<![endif]--> 	

    <!-- JavaScripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="assets/lightbox/js/jquery.lightbox-0.5.js"></script>
    <script type="text/javascript" src="assets/js/jquery.innerfade.js"></script>
	<script type="text/javascript" src="assets/js/jquery.functions.js"></script>
	
	<!--[if IE 6]>
	<script src="assets/js/pngfix.js"></script>
	<![endif]--> 	

</head>
<body class="subpage">

<!-- container -->
<div class="container">

	<!-- wrapper -->
	<div class="wrapper">
		
		<!-- header -->
		<div class="header">
			
			<div class="top-nav">
				
			<h1>Quadro Beta</h1>
		
			<ul class="nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html"  class="selected">About</a></li>
				<li><a href="support.html">Support</a></li>
				<li><a href="login.html">Login</a></li>				
			</ul>
			
			
			</div>
						
			<div class="page-title">
				
				<h2>About Quadro</h2>

				<ul class="nav">
					<li><a href="about.html">Overview</a></li>
					<li><a href="pricing.html" class="selected">Pricing</a></li>
				</ul>
								
			</div>
				
		</div>
		<!-- // header -->
		
		<!-- sub-header -->		
		<div class="sub-header">
		
			<!-- content -->
			<div class="content-top"></div>
			<div class="content clearfix">
				

				<h4>Pricing</h4>

					<table id="table-a">
						<caption>Plan Comparaison</caption>
						<thead>
							<tr>
								<th></th>
								<th>Small Business</th>
								<th>Medium Business</th>
								<th>Large Business</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="left">Monthly Price</td>
								<td class="price">$9.95</td>
								<td class="price">$29.95</td>
								<td class="price">$49.00</td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td>Value</td>
								<td>Value</td>
								<td>Value</td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td>Value</td>
								<td>Value</td>
								<td>Value</td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td>Value</td>
								<td>Value</td>
								<td>Value</td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td>Value</td>
								<td>Value</td>
								<td>Value</td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td>Value</td>
								<td>Value</td>
								<td>Value</td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td>Value</td>
								<td>Value</td>
								<td>Value</td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td><img src="images/no.png" alt="" /></td>
								<td><img src="images/no.png" alt="" /></td>
								<td><img src="images/tick.png" /></td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td><img src="images/no.png" alt="" /></td>
								<td><img src="images/tick.png" alt="" /></td>
								<td><img src="images/tick.png" alt="" /></td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td><img src="images/tick.png" alt="" /></td>
								<td><img src="images/tick.png" alt="" /></td>
								<td><img src="images/tick.png" alt="" /></td>
							</tr>
							<tr>
								<td class="left">Lorem Ipsum</td>
								<td><img src="images/tick.png" alt="" /></td>
								<td><img src="images/tick.png" alt="" /></td>
								<td><img src="images/tick.png" alt="" /></td>
							</tr>
						</tbody>
					</table>												
								
			</div>
			<div class="content-btm"></div>
			<!-- // content -->

		
		</div>
		<!-- // sub-header -->
						
		<!-- footer -->
		<div class="footer">			
			
			<div class="copy">
				<p>Copyright &copy; 2009 Your Company. All rights reserved. &mdash; Designed by <a href="http://www.simonbouchard.com" title="Simon Bouchard">Simon Bouchard</a></p>		
			</div>
			<div class="twitter">
				<a href="#"><img src="images/bg_twitter.png" alt="Follow us on Twitter"></a>
			</div>

		</div>
		<!-- // footer -->
	
	</div>
	<!-- // wrapper -->
	
</div>
<!-- // container -->

</body>
</html>