<!DOCTYPE html>
<html>
<head>
	<title>Quadro - Get Support</title>

	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <meta name="robots" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <meta name="version" content="1.0" />
    <meta name="copyright" content="" />
    <link rel="shortcut icon" href="favicon.ico" />

	<!--
		This file is part of a site template for sale at ThemeForest.net.
		See: http://themeforest.net/user/simonbouchard/portfolio
		Copyright © 2009 Simon Bouchard <info@simonbouchard.com>
	-->

	<!-- Cascading Style Sheets -->
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/typography.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/form.css" />
	
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/ie.css" />
	<![endif]--> 	

    <!-- JavaScripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
    <script type="text/ecmascript" src="assets/js/jquery.infieldlabel.js"></script>
    <script type="text/ecmascript" src="assets/js/form.validation.js"></script>
	
	<!--[if IE 6]>
	<script src="assets/js/pngfix.js"></script>
	<![endif]--> 	
	<script type="text/javascript">
		$(function(){ $("label").inFieldLabels(); });
	</script>
</head>
<body class="subpage">

<!-- container -->
<div class="container">

	<!-- wrapper -->
	<div class="wrapper">
		
		<!-- header -->
		<div class="header">
			
			<div class="top-nav">
				
			<h1>Quadro Beta</h1>
		
			<ul class="nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="support.html" class="selected">Support</a></li>
				<li><a href="login.html">Login</a></li>				
			</ul>
			
			
			</div>
						
			<div class="page-title">
				
				<h2>Support</h2>

				<ul class="nav">
					<li><a href="support.html" class="selected">Get Support</a></li>
					<li><a href="#">Knowledge Base</a></li>
					<li><a href="#">Community</a></li>
				</ul>
								
			</div>
				
		</div>
		<!-- // header -->
		
		<!-- sub-header -->		
		<div class="sub-header">
		
			<!-- content -->
			<div class="content-top"></div>
			<div class="content clearfix">
				

				<h4>Get Support</h4>
				<p>Mauris consectetur nisl vel ipsum pharetra vehicula. Nullam non massa ac odio tincidunt varius non sed velit. Nulla in risus nec dui tempor convallis nec et elit. Suspendisse nulla eros, aliquam eget tempor at, porttitor quis enim. Maecenas in massa sit amet erat tempus feugiat eu ut nisl. Suspendisse elit arcu, vulputate in adipiscing vel, hendrerit sit amet leo. Morbi facilisis malesuada lectus, nec lacinia leo iaculis porta.</p>

				<div class="colleft small">
				
					<h5>Location and Phone</h5>
				
					<ul class="nolist">
						<li>
						    1458 Sample Road, Redvalley<br />
						    City (State) H4Q 1J7<br />
						    Country<br /><br />
						</li>
						<li><img src="images/icon-phone.png" alt="Phone" />&nbsp;&nbsp;(888) 888-8888</li>
						<li><img src="images/icon-email.png" alt="Email" />&nbsp;&nbsp;<a href="mailto:info@yourcompany.com">info@yourcompany.com</a></li>
					</ul>
				
				</div>
				<div class="colright">

					<h5>Online Form</h5>

					<form id="contactform" action="assets/php/mail.php" method="post" enctype="multipart/form-data">
						<div class="errorbox"></div> 
						<ul>						
							<li>
								<label for="name">Full Name</label>
								<input id="name" name="name" type="text" />
							</li>
							<li>
								<label for="email">Email</label>
								<input id="email" name="email" type="text" />
							</li>
							<li>
								<label for="message">Your Message</label>
								<textarea id="message" name="message" rows="5" cols="60"></textarea>
							</li>
							<li>							
							 	<input type="submit" class="submit" value="SEND YOUR QUESTION" />
							</li>
						</ul>
					</form>
				
				</div>
								
			</div>
			<div class="content-btm"></div>
			<!-- // content -->

		
		</div>
		<!-- // sub-header -->
						
		<!-- footer -->
		<div class="footer">			
			
			<div class="copy">
				<p>Copyright &copy; 2009 Your Company. All rights reserved. &mdash; Designed by <a href="http://www.simonbouchard.com" title="Simon Bouchard">Simon Bouchard</a></p>		
			</div>
			<div class="twitter">
				<a href="#"><img src="images/bg_twitter.png" alt="Follow us on Twitter"></a>
			</div>

		</div>
		<!-- // footer -->
	
	</div>
	<!-- // wrapper -->
	
</div>
<!-- // container -->

</body>
</html>