<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <client>
      <endpoint name="Colombo.Tests" address="http://localhost/Colombo.svc" binding="basicHttpBinding" contract="Colombo.Wcf.IWcfService" />
      <endpoint name="AnotherAssembly" address="http://somewhereelse/Colombo.svc" binding="wsHttpBinding" contract="Colombo.Wcf.IWcfService" />
    </client>
  </system.serviceModel>
  
</configuration>