<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <system.serviceModel>
    <client>
      <endpoint name="Colombo.Tests" address="http://localhost/Colombo.svc" binding="basicHttpBinding" contract="Colombo.Wcf.IColomboService" />
      <endpoint name="AnotherAssembly" address="http://somewhereelse/Colombo.svc" binding="wsHttpBinding" contract="Colombo.Wcf.IColomboService" />
      
      <endpoint name="ipctest" address="net.pipe://localhost/ipctest" binding="netNamedPipeBinding" contract="Colombo.Wcf.IColomboService" />
    </client>
  </system.serviceModel>

  <dataCacheClient>
    <localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" />
    <hosts>
      <host name="axp-j0324-aos35" cachePort="22233"/>
    </hosts>
  </dataCacheClient>

</configuration>