<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <client>
      <endpoint name="Colombo.Tests" address="http://localhost/Colombo.svc" binding="basicHttpBinding" contract="Colombo.Wcf.IWcfColomboService" />
      <endpoint name="AnotherAssembly" address="http://somewhereelse/Colombo.svc" binding="wsHttpBinding" contract="Colombo.Wcf.IWcfColomboService" />
      
      <endpoint name="ipctest" address="net.pipe://localhost/ipctest" binding="netNamedPipeBinding" contract="Colombo.Wcf.IWcfColomboService" />
    </client>
  </system.serviceModel>

</configuration>