<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
          <serviceBehaviors>
            <behavior>
              <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
          </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="WebHttpBehavior">
                  <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Colombo.Wcf.WcfJsBridgeService">
                <endpoint address="" behaviorConfiguration="WebHttpBehavior"
                    binding="webHttpBinding" contract="Colombo.Wcf.WcfJsBridgeService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
