<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link href="css/colombo.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <a href="http://github.com/julienblin/Colombo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    <a name="top" id="top"></a>
    <center>
        <div id="menu">
        </div>
        <div id="header">
            <h1>
                Colombo</h1>
            <h2>
                A lightweight RPC/messaging framework for .Net 4</h2>
        </div>
        <div id="content">
            {{ content }}
        </div>
        <div id="footer">
            Copyright &copy; 2011 - Julien Blin<br />
            Page designed by <a href="http://www.jameskoster.co.uk">James Koster</a>
        </div>
    </center>
</body>
</html>
