<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/typography.css" />
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css" />
	<![endif]-->
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>
    <script type="text/javascript" src="js/jquery.innerfade.js"></script>
	<script type="text/javascript" src="js/jquery.functions.js"></script>
	
	<!--[if IE 6]>
	<script src="assets/js/pngfix.js"></script>
	<![endif]-->
</head>
<body>
	<a href="http://github.com/julienblin/Colombo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
	
	<div class="container">
		<div class="wrapper">
			<div class="header">
				<div class="top-nav">
					<h1>Colombo</h1>
					
					<ul class="nav">
						<li><a href="index.html" class="selected">Home</a></li>
						<li><a href="#">Documentation</a></li>
						<li><a href="#">Downloads</a></li>
						<li><a href="License">License</a></li>				
					</ul>
					
				</div>
				
				<div class="showcase">
				
					<div class="colombo-logo">
					</div>
				
					<div id="slider">

						<div class="slider_item">
						
							<h2>A messaging framework</h2>
							<p>
								Colombo is a messaging framework for .Net 4 primarily targeted at request/response style interactions.
								It comes out of the box with a WCF transport implementation.
							</p>
							<a href="#" class="btn">Get started</a>
											
						</div>

						<div class="slider_item">

							<h2>Powerful &amp; fast</h2>
							<p>Aliquam pulvinar orci sed metus dignissim quis malesuada massa imperdiet. Fusce imperdiet enim sit amet tellus molestie tempus. Cras ultrices, nunc in tempor pharetra, lorem urna aliquam dolor, eu ullamcorper neque turpis vel nisl. Mauris eget auctor libero. Suspendisse ut ipsum orci.</p>
											
						</div>

						<div class="slider_item">

							<h2>Open source - MIT Licence</h2>
							<p>Suspendisse bibendum suscipit vestibulum. Vivamus aliquet consequat risus vitae aliquet. Proin et nibh diam, et fringilla arcu. In faucibus, sapien sed imperdiet ultrices.</p>

							<a href="#" class="btn">Get started</a>

						</div>
						
					</div>
				</div>
			</div>
			
			<div class="sub-header">
				{{ content }}
			</div>
			
			<div class="footer">
				<div class="copy">
					<p>Copyright &copy; 2011 Julien Blin. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>